<div class="home">
    <div class="home__title colored_text">
        Fumetas 2.0
    </div>
    <div class="home__content">
        <div class="home__content__buttons">
            <div class="btnPrev" (click)="goToWiki()">
                Wiki
            </div>
            <div class="btnNext" (click)="goToCreateRole()">
                Add Role
            </div>
            <div class="btnOk" (click)="goToAddPlayer()">
                Add Player
            </div>
        </div>
        <div class="btnStart" (click)="goToGame()">
            Start Game
        </div>
    </div>
</div>