<div class="game">
    <div class="game__title colored_text" (click)="goHome()">
        Fumetas 2.0
    </div>
    <div class="game__content">
        <div class="game__content__buttons">
            <div class="btnPrev" (click)="goToWiki()">
                Wiki
            </div>
            <div class="btnNext" (click)="goToConsult()">
                Consultar
            </div>
        </div>
        <div class="btnCancel" (click)="goToAccuse()">
            Acusar
        </div>
    </div>
</div>