// Importa las variables de colores
@import '/src/styles/variables.scss';


.app {
    width: 100vw;
    height: 80vh;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; // Utiliza unidades vw para el ancho
    height: 80vh; // Utiliza unidades vh para la altura
    z-index: -99; // Establece un valor menor para colocar los cuadrados debajo de los elementos existentes
}


// Estilos para los cuadrados
.background__square {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -1; // Establece un valor menor para colocar los cuadrados debajo de los elementos existentes
    opacity: 0.5;
}

// Colores para los cuadrados
.background__square1 {
    background-color: map-get($red, 500);
}

.background__square2 {
    background-color: map-get($green, 500);
}

.background__square3 {
    background-color: $indigo;
}

.background__square4 {
    background-color: $blue-bright;
}

.background__square5 {
    background-color: $magenta;
}


@function random-range($min, $max) {
    $range: $max - $min +1;
    @return $min +floor(random() * $range);
}

@for $i from 1 through 6 {
    $randomAngle: random-range(-45, 45);
    $marginOffset: 110px+($i - 1) * 120px;

    .background__square#{$i} {
        top: random-range(0, 0) * 1vh;
        left: random-range(0, 90) * 1vw;
        transform: rotate($randomAngle + deg);
        margin-top: $marginOffset;
    }
}