// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gameweb-primary: mat.define-palette(mat.$indigo-palette);
$gameweb-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gameweb-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gameweb-theme: mat.define-light-theme((color: (primary: $gameweb-primary,
                accent: $gameweb-accent,
                warn: $gameweb-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gameweb-theme);

/* You can add global styles to this file, and also import other style files */
@import "./styles/variables.scss";

html,
body {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: $black;
    z-index: -100;
    color: white;
    width: 100vw;
    height: 100vh;
}

* {
    font-family: 'Roboto Mono', monospace;
}

.input {

    background-color: $blue-dark;

    width: fit-content;
    padding: 5px 7px;
    margin: auto;
    border-radius: 10px;
    transition: .3s;

    legend {
        color: white;
        font-weight: bold;
        font-size: larger;
    }

    input {
        color: white;
        border: none;
        padding: 5px 7px;
        outline: none;
        background: none;
        width: 70vw;
        font-size: large;
    }

    select {
        color: white;
        border: 1px solid $blue-dark;
        padding: 5px 7px;
        outline: none;
        background: none;
        width: 70vw;
        font-size: large;
        background-color: $blue-dark;
    }

    &:focus-within {
        transition: .3s;
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.4);
    }
}

.btnOk {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($map: $green, $key: 500);
    color: white;
    border: none;
    padding: 5px 7px;
    width: 120px;
    height: 40px;
    font-size: larger;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}

.btnCancel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($map: $red, $key: 500);
    color: white;
    border: none;
    padding: 5px 7px;
    width: 120px;
    height: 40px;
    font-size: larger;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}

.btnNext {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue-bright;
    color: white;
    border: none;
    padding: 5px 7px;
    width: 120px;
    height: 40px;
    font-size: larger;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}

.btnPrev {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $magenta;
    color: white;
    border: none;
    padding: 5px 7px;
    width: 120px;
    height: 40px;
    font-size: larger;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}

.btnStart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $indigo;
    color: white;
    border: none;
    padding: 5px 7px;
    width: 120px;
    height: 40px;
    font-size: larger;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}

.svg-icon {
    color: white;
}

.colored_text {
    animation: color-change 10s infinite;
}

@keyframes color-change {
    0% {
        color: red;
    }

    25% {
        color: blue;
    }

    50% {
        color: green;
    }

    75% {
        color: orange;
    }

    100% {
        color: purple;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}